# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* Data Science popular languages
* Some of the commonly used libraries used by Data Scientists
* Data Science Tools
* Python libraries
* Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java
5. Julia
6. SQL

Some of the commonly used libraries used by Data Scientists include:

1.Python libraries:
* Scientific Computing Libraries ( Pandas and NumPy )
* Visualization Libraries (Matplotlib and Seaborn )
* High-Level- Machine Learning and Deep ( Scikit-learn and Keras)
2. Apache Spark library
3. Scala libraries ( Vegas and BigDL )
4. R libraries ( Keras and TensorFlow )

| Data Science Tools |
| ------------------ |
| Jupyter |
| Jupyter Lab|
| R Studio |
| Apache Zeppeline|
| SPYDER |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
(200/60)

3.3333333333333335

## Author

Ahmed Khalaf